<%= simple_form_for(@person, url: user_person_path) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    <%= form.input :name %>
    <%= form.input :lastname %>
    <%= form.input :phone %>
    <%= form.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }%>
  

  </div>

   <div class="form-actions">
  

  
    <%= form.button :submit, "Ekle", class: 'button success' %>
  </div>
  
<% end %>
